<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li>
                    <a href="{{ path('app_acceuil_dashboard') }}"><i class="la la-home"></i> <span>Tableau de bord</span></a>
                </li>
                <li class="menu-title">
                    <span>Administration</span>
                </li>
                <li>
                    <a href="{{ path('app_abonnement') }}"><i class="la la-users"></i> <span>Abonnements</span></a>
                </li>
                <li>
                    <a href="{{ path('app_sinistre') }}"><i class="la la-sms"></i> <span>Déclarations</span></a>
                </li>
                <li>
                    <a href="{{ path('app_profil') }}"><i class="la la-user"></i> <span>Profils</span></a>
                </li>
{#                <li>#}
{#                    <a href="{{ path('app_etat_trafic_rayon') }}"><i class="la la-route"></i><span>Trafic dans un rayon</span></a>#}
{#                </li>#}

{#                <li>#}
{#                    <a href="{{path('app_sinistre_add')}}"><i class="las la-exclamation-triangle"></i><span>Enregister sinitre</span></a>#}
{#                </li>#}

{#                <li>#}
{#                    <a href="{{path('app_sinistre_cam')}}"><i class="las la-exclamation-triangle"></i><span>caméra</span></a>#}
{#                </li>#}

{#                <li class="submenu">#}
{#                    <a href="#"><i class="la la-object-group"></i> <span> Forms </span> <span class="menu-arrow"></span></a>#}
{#                    <ul style="display: none;">#}
{#                        <li><a href="form-basic-inputs.html">Basic Inputs </a></li>#}
{#                        <li><a href="form-input-groups.html">Input Groups </a></li>#}
{#                        <li><a href="form-horizontal.html">Horizontal Form </a></li>#}
{#                        <li><a href="form-vertical.html"> Vertical Form </a></li>#}
{#                        <li><a href="form-mask.html"> Form Mask </a></li>#}
{#                        <li><a href="form-validation.html"> Form Validation </a></li>#}
{#                    </ul>#}
{#                </li>#}
            </ul>
        </div>
    </div>
</div>
<!-- /Sidebar -->
